@use '../../../../styles/utils' as utils;

.animate-1,
.animate-2,
.animate-3 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: var(--_animation-delay);
  animation-fill-mode: backwards;
}

.animate-secondary {
  interpolate-size: allow-keywords;
  max-height: 0;
  animation-name: grow-height;
  animation-duration: 800ms;
  animation-delay: 500ms;
  animation-timing-function: var(--ease-out);
  animation-fill-mode: forwards;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@keyframes grow-height {
  to {
    max-height: fit-content;
  }
}

.animate-1 {
  --_animation-delay: 0ms;
}

.animate-2 {
  --_animation-delay: 1500ms;
}

.animate-3 {
  --_animation-delay: 1700ms;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.welcome-title {
  display: grid;
  justify-items: center;
  height: fit-content;

  .material-symbols-outlined {
    font-size: 18px;
  }

  > * {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
  }

  // &:hover {
  //   cursor: pointer;

  //   .primary__container {
  //     scale: 1.01;
  //     .primary__title {
  //       letter-spacing: 1px;
  //     }
  //   }
  // }
}

.primary__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--gray-600);

  .primary__top,
  .primary__bottom {
    @include utils.prevent-select;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .primary__bottom {
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--gray-800);
    color: var(--gray-75);
    font-weight: 500;
    font-feature-settings: 'ss04';
    width: calc(100% - 12px);
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 12px;
    font-size: 14px;
  }
  .primary__top-right {
    display: flex;
    gap: 8px;
  }
}

.primary__title-add {
  @include utils.prevent-select;
  pointer-events: none;
  border: 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton';

  line-height: 88%; // adjusts height to closer to capital height

  color: var(--gray-900);
  font-size: var(--fluid-fontSize);
  transition:
    scale var(--ease-out) 100ms,
    letter-spacing var(--ease-out) 100ms;
}
.primary__title {
  @include utils.prevent-select;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton';

  line-height: 88%; // adjusts height to closer to capital height

  color: var(--gray-900);
  font-size: var(--fluid-fontSize);
  transition:
    scale var(--ease-out) 100ms,
    letter-spacing var(--ease-out) 100ms;
  cursor: pointer;
}

.secondary {
  @include utils.prevent-select;

  pointer-events: none;
  display: flex;
  transition: gap 100ms var(--ease-out);

  > * {
    @include utils.prevent-select;
    line-height: 80%; // adjusts height to closer to capital height
    font-family: 'Permanent Marker';
    font-size: calc(var(--fluid-fontSize) * 0.8);
    // color: var(--red-400);
    background: -webkit-linear-gradient(var(--red-400) 50%, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: exclusion;
    pointer-events: none;
  }
}

.header--logo {
  height: 24px;
  max-width: 64px;
}

.welcome__timer,
.welcome__resolution,
.welcome__FPS {
  font-variant-numeric: tabular-nums;
}

.text-faint {
  color: var(--gray-400);
}

.heatmap {
  height: 12px;
}
