@use '../../styles/utils.scss' as utils;

.animate {
  animation-duration: 500ms;
  animation-name: animate-fade;
  animation-delay: var(--_animation-delay);
  animation-fill-mode: backwards;
  animation-timing-function: var(--ease-out);
}

@mixin animation-delays($count: 6, $base-delay: 0ms, $increment: 100ms) {
  @for $i from 0 through $count - 1 {
    [animation-index='#{$i}'] {
      --_animation-delay: #{$base-delay + ($i * $increment)};
      --_card-rotation: #{if($i % 2 == 0, -1deg, 1deg)};
    }
  }
}

@include animation-delays();

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: translateY(16px);
    scale: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    scale: 1;
  }
}

body {
  --page-alignment-y: flex-start;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 450;
  letter-spacing: 0.5;
}

.projects_grid {
  all: unset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  width: 100%;
}

.page-container {
  background-color: var(--gray-75);
  background-image: radial-gradient(transparent 1px, var(--gray-50, #ffffff) 1px);
  background-size: 12px 12px;

  width: 100%;
  height: fit-content;
  min-height: 100dvh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-1200);

  &::before {
    content: '';
    width: 20%;
    height: 80%;
    animation-duration: 2s;
    animation-name: simple-fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: var(--ease-out);

    background-color: var(--gray-300);
    filter: blur(350px);
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0.4;
  }
}

.page {
  max-width: min(92%, 75rem);
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 32px;
  padding-bottom: min(15%, 8rem);
  padding-top: min(15%, 8rem);
}

.header__title {
  display: flex;
  align-items: center;
  gap: 12px;

  .header__title-icon {
    font-size: 48px;
    font-variation-settings: 'wgth' 300;
    color: var(--gray-400);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  p {
    margin: 0;
    color: var(--gray-1000);
    font-family: 'Inter';
    letter-spacing: 0.5px;
  }
}

.header__description {
  text-wrap: balance;
}

a {
  all: unset;
}

@keyframes simple-fade-in {
  from {
    opacity: 0;
  }
}
